{
    "presets": [
        ["@babel/preset-react"],
        [
            "@babel/env",
            {
                "targets": {
                    "node": "12"
                }
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./src"
                }
            }
        ],
        ["transform-class-property-arrow-functions"]
    ]
}
